* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-size: 2rem;
  line-height: 1.4;
  color: #fdfdfd;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #012264;
}

menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
menu li button {
  padding: 2rem 4rem;
}
#reset-global-wrapper {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

button {
  border: none;
  border-radius: 0.4rem;
  padding: 1.2rem;
  color: #fdfdfd;
  font-weight: 500;
  background-color: rgb(0, 89, 255);
}

#app {
  background-color: #121212;
  min-height: 100dvh;
  padding: 1.2rem;
}

.transpose {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 4rem;
}
.transpose > * {
  width: 25%;
}
#transpose-value {
  text-align: center;
  padding: 2rem;
  border-radius: 0.8rem;
  background-color: #012264;
  max-width: 80px;
  cursor: pointer;
}
.userScale {
  background-color: #012264;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}
.userScale button {
  padding: 1.4rem;
  font-size: 1.5rem;
  background-color: rgb(0, 221, 255);
  color: #002879;
}

.tunning-range {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  span {
    font-weight: 600;
    font-size: 1.8rem;
  }
}

.userScale-top {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 4rem;
  justify-content: center;
}

.userScale-top__left,
.userScale-top__right {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.userScale-bottom {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  justify-content: center;
  button {
    padding: 1.6rem;
  }
}

.scale-presets {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 1rem 0;
  background-color: #012264;
  padding: 2rem;
}

.btn-active {
  outline: 1px solid rgb(255, 208, 0);
  outline-offset: 0.4rem;
  box-shadow: 0 0 1rem 1rem rgba(255, 208, 0, 0.5);
  color: rgb(255, 208, 0) !important;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002879;
  position: absolute;
  right: 3%;
  top: 5%;
  font-size: 2.8rem;
}
#message {
  padding: 2rem;
  border-radius: 0.4rem;
  background-color: #012264;
  color: rgb(0, 255, 149);
  font-weight: 500;
  font-size: 1.4rem;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 70%;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .userScale button {
    padding: 2rem 6rem;
    font-size: 2.8rem;
  }
}
