* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
}

:root {
  --color-primary: hsl(179, 100%, 35%);
  --shadow-color: hsla(179, 100%, 35%, 0.5);
  --app-bg: hsl(0, 2%, 10%);
  --presets-bg: hsl(0, 2%, 9%);

  --bg-test: hsl(0, 0%, 84%);
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-size: 2rem;
  line-height: 1.4;
  color: #fdfdfd;
  position: relative;
  min-height: 100dvh;
}

nav {
  padding: 2rem;
}

menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
menu li button {
  padding: 1rem 3rem;
  font-size: 1.6rem;
}
button {
  border: none;
  border-radius: 0.4rem;
  padding: 1.2rem;
  color: #fdfdfd;
  font-weight: 500;
  background-color: transparent;
  outline: 0.2rem solid var(--color-primary);
}

#app {
  background-color: var(--app-bg);
  padding: 1.2rem;
  outline: inset 4px solid var(--color-primary);
  outline-offset: 0.4rem;
}

#reset-global-wrapper {
  margin-left: auto;
}
#reset-global-wrapper button {
  background-color: #a3146c;
  outline: 0;
}

.transpose {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 4rem;
}
.transpose > * {
}

#transpose-value {
  text-align: center;
  border-radius: 0.8rem;
  color: var(--color-primary);
  max-width: 80px;
}
#clear {
  background-color: #fdfdfd;
  color: #252323;
  outline: none;
}
.userScale {
  background-color: #252323;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.userScale button {
  padding: 1.4rem;
  font-size: 1.5rem;
}

.userScale-top {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 15rem;
  justify-content: center;
}

.userScale-top__left,
.userScale-top__right {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.userScale-bottom {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  justify-content: center;
}
.userScale-bottom button {
  padding: 1.6rem;
}

.btn-group {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}
input[type='number'] {
  border: none;
  border-radius: 0.4rem;
  padding: 1.2rem;
  outline: 1px solid var(--color-primary);
}
.scale-presets {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
  background-color: var(--presets-bg);
}

.btn-active {
  box-shadow: 0 0 1rem 0.5rem var(--shadow-color);
  color: #fdfdfd;
  background-color: var(--color-primary);
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002879;
  position: absolute;
  right: 3%;
  top: 5%;
  font-size: 2.8rem;
}
#message {
  padding: 2rem;
  border-radius: 0.4rem;
  background-color: #015364;
  color: rgb(0, 255, 149);
  font-weight: 500;
  font-size: 2rem;
  max-width: 70%;
  text-align: center;
  position: absolute;
  right: 2%;
  top: 4%;
}
.vertical-devider {
  width: 2px;
  height: 50px;
  background-color: #fff;
}

.color-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
}
.color-range::-webkit-slider-runnable-track {
  height: 6px;
  background: #ddd;
  border-radius: 3px;
  box-shadow: 0 0 2rem 1rem var(--shadow-color);
}
.color-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  background: var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -8px;
}

@media screen and (min-width: 480px) {
  .userScale button {
    padding: 2rem 6rem;
    font-size: 2.8rem;
  }
}
