* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
}

:root {
  --color-primary: hsl(179, 100%, 35%);
  --shadow-color: hsla(179, 100%, 35%, 0.5);
  --color-accent: hsl(346, 69%, 49%);
  --icon-fill: #fafafa;
  --app-bg: hsl(0, 2%, 10%);
  --presets-bg: hsl(0, 0%, 24%);
}
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 2rem;
  line-height: 1.4;
  color: #fdfdfd;
  position: relative;
  min-height: 100dvh;
}

nav {
  padding: 2rem;
  display: grid;
  gap: 4rem;
}

button {
  border: none;
  border-radius: 0.4rem;
  padding: 1.2rem;
  color: #fdfdfd;
  font-weight: 500;
  background-color: transparent;
  outline: 0.2rem solid var(--color-primary);
}
button:disabled {
  outline: 2px solid var(--presets-bg);
}
#app {
  background-color: var(--app-bg);
  padding: 1.2rem;
  outline: inset 4px solid var(--color-primary);
  outline-offset: 0.4rem;
}

menu {
  list-style: none;
}

menu li button {
  padding: 1rem 2rem;
  font-size: 1.6rem;
}
.main-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.control-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.transpose {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 4rem;
}

#transpose-value {
  text-align: center;
  border-radius: 0.8rem;
  color: var(--color-primary);
  max-width: 80px;
}

#icon-buttons {
  display: flex;
}
#icon-buttons button {
  outline: 0;
}

.sliders {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width: 100%;
}
input[type='range']::-webkit-slider-runnable-track {
  height: 6px;
  background: #ddd;
  border-radius: 3px;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background: var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -18px;
}

.color-range {
  box-shadow: 0 0 2rem 0.4rem var(--shadow-color);
}

.color-range-wrapper {
  width: 100%;
  position: relative;
}
#color-range-value {
  width: 20px;
  height: 20px;
  background-color: var(--color-primary);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -4rem;
}
.cent-range-wrapper {
  position: relative;
  width: 100%;
}

#cent-range-value {
  position: absolute;
  left: 50%;
  top: -4rem;
  transform: translateX(-50%);
  max-width: fit-content;
  font-size: 2.5rem;
}

#clear {
  background-color: #fdfdfd;
  color: #252323;
  outline: none;
}
.userScale {
  background-color: #252323;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.userScale button {
  padding: 1.4rem;
  font-size: 1.5rem;
}

.userScale-top {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 15rem;
  justify-content: center;
}

.userScale-top__left,
.userScale-top__right {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.userScale-bottom {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  justify-content: center;
}
.userScale-bottom button {
  padding: 1.6rem;
}

.btn-group {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}
input[type='number'] {
  border: none;
  text-align: center;
  color: var(--color-accent);
}
input[type='number']:disabled {
  background-color: transparent;
}
.scale-presets {
  display: grid;
  grid-template-columns: repeat(40, max-content);
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--presets-bg);
  overflow-x: auto;
}
.scale-presets button {
  min-width: fit-content;
}
.scale-presets .vertical-devider {
  width: 4px;
  background-color: var(--color-accent);
}
.btn-active {
  box-shadow: 0 0 1rem 0.5rem var(--shadow-color);
  color: #fdfdfd;
  background-color: var(--color-primary);
}
.btn-disabled {
  outline: 2px solid var(--presets-bg);
}
#message {
  color: rgb(0, 255, 149);
  font-weight: 500;
  font-size: 2rem;
  max-width: 80%;
  text-align: center;
  position: absolute;
  right: 2%;
  top: 4%;
}
.vertical-devider {
  width: 2px;
  height: 50px;
  background-color: #fff;
}

@media screen and (min-width: 480px) {
  .userScale button {
    padding: 2rem 6rem;
    font-size: 2.8rem;
  }
  .scale-presets button {
    font-size: 1.6rem;
  }
}
